<div class="row columns">
  <button class="btn"  *ngIf="!name" (click)="LoginWithGoogle()">Login With Google</button>
  <!-- <button  (click)="loginWithFacebook()" *ngIf="!name">Login With facebook</button> -->
  <input type="text" id="message"  *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />

    <div class="chat-container" *ngFor="let item of items | async">
      <a href="#">{{item.name}}</a>
      
      <p>{{item.message}}</p>
    </div>
</div>
